*, html,body{
    font-family: sans-serif;
    color: white;
}

body{
    text-align: center;
    background: #1f3144;
}

h1{
    font-weight: lighter;
}

#log-container > div {
    margin-top: 15px;
}